.subscription-card{
    text-align: center;
    margin: 5px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 15px;
    box-shadow: 10px 10px 10px white;
}
.subscripted{
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    margin: 5px;
    padding: 5px;
    border-radius: 30px;
}
.subscripted p{
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
}
.subscripted img{
    width: 50px;
    border-radius: 15px;
}